.classpath
.project
doc/pre-processeding/ttc16-cra-sigma.aux
doc/pre-processeding/ttc16-cra-sigma.bbl
doc/pre-processeding/ttc16-cra-sigma.blg
doc/pre-processeding/ttc16-cra-sigma.dvi
doc/pre-processeding/ttc16-cra-sigma.fdb_latexmk
doc/pre-processeding/ttc16-cra-sigma.fls
doc/pre-processeding/ttc16-cra-sigma.log
doc/pre-processeding/ttc16-cra-sigma.out
doc/pre-processeding/ttc16-cra-sigma.synctex.gz
doc/post-proceedings/ttc16-cra-sigma.aux
doc/post-proceedings/ttc16-cra-sigma.bbl
doc/post-proceedings/ttc16-cra-sigma.blg
doc/post-proceedings/ttc16-cra-sigma.dvi
doc/post-proceedings/ttc16-cra-sigma.fdb_latexmk
doc/post-proceedings/ttc16-cra-sigma.fls
doc/post-proceedings/ttc16-cra-sigma.log
doc/post-proceedings/ttc16-cra-sigma.out
doc/post-proceedings/ttc16-cra-sigma.pdf
doc/post-proceedings/ttc16-cra-sigma.synctex.gz
